@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Start writing your CSS */

  /* Main Styles */

body{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  font-family: "Play", sans-serif;
  font-weight: 400;
  background-color: #C3C3C3;
}

  section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    height: 120vh;
    max-width: 100%;
  }

  .thickbox{
    border: 3px solid #000;
  }


  /* Hero Section */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 97vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    background-color: #fff;
}

h1{
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

h2{
  font-family: "Play", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

  .centerme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .intro {
    display: flex;
    width: 40%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    padding: 1%;
    background-color: #fff;
    border: 6px solid;
    margin-bottom: 12%;
    margin-top: 7%;
}

  nav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;

  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    padding: 1%;
    background-color: #fff;
}

  .pushdown{
    position: relative;
    top: 5%;
  }

  .rightshadow{
    box-shadow: 10px 10px;
  }

  .leftshadow{
    box-shadow: -10px 10px;
  }
  

/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 40vh;
  background-color: #fff;
  top: 200px;
  margin-bottom: 20%;
  margin-top: 12%;
}

#about p{
  margin: 5%;
}


.about_intro {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: absolute;
    top: -35%;
    right: 10px;
    width: 30%;
    background: #fff;
    margin-top: -.5,
}



/* Portfolio Section */

#portfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 250px;
}

.portfolio_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  width: 30%;
  background: #fff;
  position: relative;
  top: -25%;
}

.workgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  margin: 3%;
  position: relative;
  bottom: 300px;
}

.portfolioanchor{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
}

/* Portfolio Case Study Sections */

#portfolio_one,
#portfolio_two,
#portfolio_three,
#portfolio_four{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
  padding: 1%;
}

.portfolio_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

.portfolio_description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
  border: 6px solid #000;
  background-color: #fff;
}

.portfolio_detail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
}

.portfolio_image{
  border: 6px solid #000;
  
}

.portfolio_header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  left: 50px;
}

.portfolio_header_2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  right: 50px;
}

.portfolio_header_4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  right: 50px;
}


  


/* Contact Section */

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 40vh;
  background-color: #fff;
  top: 150px;
}

.contact_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -23%;
  right: 140px;
  width: 20%;
  background: #fff;
}

.contact_intro {
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: absolute;
    top: -45%;
    right: 10px;
    width: 30%;
    background: #fff;
}

#contact p{
  margin: 5%;
}

/* Media Queries */


/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 14408px) { 

}

/* Large devices (desktops, less than 1024px) */
@media (max-width: 1024px) { 

nav {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
margin: 2%;
width: 95%;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  padding: 1%;
  background-color: #fff;
}

.navlink img{
  width: 65%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  font-family: "Play", sans-serif;
  font-weight: 900;
  font-size: 19px;
  background-color: #C3C3C3;
}

.intro {
  margin-top: 4%;
  margin-bottom: 2%;
}

.portfolio_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 62%;
  padding: 3%;
  border: 6px solid #000;
  height: 500px;
  background-color: #fff;
  font-size: 24px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 40vh;
  background-color: #fff;
  top: 135px;
  margin-bottom: 20%;
  margin-top: 12%;
  font-size: 16px;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 300px;
}

.workgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  margin: 3%;
  position: relative;
  bottom: 300px;
}

.portfolioanchor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
  border: 6px solid #000;
}

.portfolio_intro {
top: -35%;

}

.portfolio_description p{
  font-size: 16px;
}

.portfolio_image img {
  width: 100%;
  height: auto;
}

.pushdown {
  position: relative;
  top: 0%;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 40vh;
  background-color: #fff;
  top: 30px;
}

#contact p{
  font-size: 16px;
}

}

/* Medium devices (tablets, less than 744px) */
@media (max-width: 744px) { 
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 99vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    background-color: #fff;
    position: relative;
    left: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  position: relative;
  left: 25px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 500px;
  background-color: #fff;
  /* top: -435px; */
  margin-bottom: 45%;
  /* margin-top: 85%; */
  font-size: 16px;
  right: 40px;
}


#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 80px;
  right: 65px;
}

.portfolioanchor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  width: 44%;
  position: relative;
  top: 30px;
}

.portfolioanchor img{
  width: 95%;
}


.portfolio_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  width: 30%;
  background: #fff;
  position: relative;
  top: -10;
  margin-top: 75%;
}

.portfolio_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
  border: 6px solid #000;
  height: 300px;
  background-color: #fff;
  font-size: 24px;
}

#contact p{
  font-size: 16px;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 8%;
  width: 65vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 370px;
  background-color: #fff;
  top: 610px;
  /* border-top: 10px; */
}


}

/* Small devices (landscape phones, less than 430px) */
@media (max-width: 430px) {

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 90vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    background-color: #fff;
    position: relative;
    left: 18px;
}

header img{
  width: 50%;
}

.intro {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 70vw;
  position: relative;
  left: 15px;
}

.navlink img{
  width: 95%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  position: relative;
  left: 20px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 500px;
  background-color: #fff;
  top: 500px;
  margin-bottom: 45%;
  /* margin-top: 85%; */
  font-size: 16px;
  right: 40px;
}

.about_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -35%;
  right: 10px;
  width: 50%;
  background: #fff;
  margin-top: -.5,;
}

.workgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 95vw;
  margin: 3%;
  position: relative;
  bottom: 180px;
}

.portfolioanchor img{
  width: 100%;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 400px;
  right: 30px;
}

.portfolio_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  width: 70%;
  background: #fff;
  position: relative;
  top: -160px;
  margin-top: 75%;
}

.portfolioanchor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
  width: 70%;
  position: relative;
  top: 30px;
}

.portfolio_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.portfolio_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  padding: 3%;
  border: 6px solid #000;
  height: 300px;
  background-color: #fff;
  font-size: 24px;
}

#portfolio_one,
#portfio_two,
#portfolio_three,
#portfolio_four{
  position: relative;
  top: 500px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 8%;
  width: 65vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 370px;
  background-color: #fff;
  top: 610px;
  /* border-top: 10px; */
}

.contact_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -45%;
  right: 10px;
  width: 70%;
  background: #fff;
}


}

/* X-Small devices (portrait phones, less than 375px) */
@media (max-width: 375px) {

}


