@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Start writing your CSS */

/* Main Styles */
html {
  scroll-behavior: smooth;

}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  font-family: "Play", sans-serif;
  font-weight: 400;
  background-image: url('../img/BGTEST_blur.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  height: 120vh;
  max-width: 100%;

}

.thickbox {
  border: 3px solid #000;
}


/* Hero Section */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 97vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  background-color: #fff;
}

h1 {
  font-family: "Play", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

.centerme {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: nowrap;
}

.intro {
  display: flex;
  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  padding: 1%;
  background-color: #fff;
  border: 6px solid;
  margin-bottom: 12%;
  margin-top: 7%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;

}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  padding: 1%;
  background-color: #fff;
}

.pushdown {
  position: relative;
  top: 5%;
}

.rightshadow {
  box-shadow: 10px 10px;
}

.leftshadow {
  box-shadow: -10px 10px;
}


/* About Section */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 40vh;
  background-color: #fff;
  top: 200px;
  margin-bottom: 20%;
  margin-top: 12%;
  font-size: 20px;
}

#about p {
  margin: 5%;
}


.about_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -35%;
  right: 10px;
  width: 30%;
  background: #fff;
  margin-top: -.5,
}



/* Portfolio Section */

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 250px;
}

.portfolio_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  width: 30%;
  background: #fff;
  position: relative;
  top: -25%;
}

.workgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  margin: 3%;
  position: relative;
  bottom: 300px;
}

.portfolioanchor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
}

/* Portfolio Case Study Sections */

#portfolio_one,
#portfolio_two,
#portfolio_three,
#portfolio_four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 95vw;
  padding: 1%;
  margin-bottom: 5%;
}

.portfolio_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

.portfolio_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
  border: 6px solid #000;
  background-color: #fff;
}

.portfolio_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding: 3%;
}

.portfolio_image {
  border: 6px solid #000;

}

.portfolio_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  left: 50px;
}

.portfolio_header_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  right: 50px;
}

.portfolio_header_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  right: 50px;
}

#smallportfolio{
  display: none;
}





/* Contact Section */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  width: 115vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 300px;
  background-color: #fff;
  top: 200px;
  right: 30px;
}

.contact_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 2% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -23%;
  right: 140px;
  width: 20%;
  background: #fff;
}

.contact_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -45%;
  right: 10px;
  width: 30%;
  background: #fff;
}

#contact p {
  margin: 5%;
  font-size: 35px;
}

/* Media Queries */



/* Large devices (desktops, less than 1024px) */
@media (max-width: 1024px) {


  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 97vw;
    border: 6px solid #000;
    box-shadow: -10px 10px;
    background-color: #fff;
  }

  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10%;
    width: 95%;
  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 2%;
    padding: 1%;
    background-color: #fff;
    width: 250px;
  }

  .navlink img {
    width: 100%;
  }

  body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    font-family: "Play", sans-serif;
    font-weight: 900;
    font-size: 19px;
    background-color: #C3C3C3;
  }

  .intro {
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .centerme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 0%;
    left: 0%;
}

.portfolio_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  margin-top: 9px;
}

  #portfolio_one, #portfolio_two, #portfolio_three, #portfolio_four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
    padding: 1%;
    margin-bottom: 5%;
    height: 65%;
}
  

  .portfolio_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 3%;
    border: 6px solid #000;
    height: 350px;
    background-color: #fff;
    font-size: 24px;
}

  .about_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 10px;
    position: absolute;
    top: -45%;
    right: 10px;
    width: 30%;
    background: #fff;
    margin-top: -.5, ;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 95vw;
    border: 6px solid #000;
    box-shadow: -10px 10px;
    position: relative;
    height: 40vh;
    background-color: #fff;
    top: 135px;
    margin-bottom: 20%;
    margin-top: 12%;
    font-size: 24px;
  }

  #portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 95vw;
    position: relative;
    top: 300px;
  }

  .workgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    margin: 3%;
    position: relative;
    bottom: 300px;
  }

  .portfolioanchor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border: 6px solid #000;
  }

  .portfolio_intro {
    top: -25%;

  }


  .portfolio_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9%;
    padding: 2% 0%;
    border: 6px solid #000;
    box-shadow: -10px 10px;
    width: 30%;
    background: #fff;
    position: relative;
    top: -25%;
}


  .portfolio_description p {
    font-size: 16px;
  }

  .portfolio_image img {
    width: 100%;
    height: auto;
  }

  .pushdown {
    position: relative;
    top: 0%;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 115vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 300px;
    background-color: #fff;
    top: -30px;
    left: -27px;
}

  .contact_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 10px;
    position: absolute;
    top: -45%;
    right: 10px;
    width: 30%;
    background: #fff;
  }

  #contact p {
    font-size: 34px;
  }
  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 115vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 300px;
    background-color: #fff;
    top: 200px;
    left: -29px;
}


}

/* Medium devices (tablets, less than 744px) */
@media (max-width: 744px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 92vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    background-color: #fff;
    position: relative;
    left: 20px;
  }

  .centerme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 2%;
    left: 0%;
}

.workgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95vw;
  margin: 3%;
  position: relative;
  bottom: 195px;
}

  .intro {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 40vw;
    position: relative;
    left: 15px;
    font-size: small;
    top: 15px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: 25px;
    top: 50px;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11%;
    padding: 2% 0%;
    width: 91vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 300px;
    background-color: #fff;
    top: 578px;
    margin-bottom: 45%;
    /* margin-top: 85%; */
    font-size: 16px;
    right: 40px;
  }

  #portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 2% 0%;
    width: 95vw;
    position: relative;
    top: 80px;
    right: 65px;
  }

  .portfolioanchor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    width: 44%;
    position: relative;
    top: 30px;
  }

  .portfolioanchor img {
    width: 95%;
  }


  .portfolio_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
    padding: 2% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    width: 40%;
    background: #fff;
    position: relative;
    top: -150px;
    margin-top: 75%;
}

  .portfolio_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    padding: 3%;
    border: 6px solid #000;
    height: 350px;
    background-color: #fff;
    font-size: 24px;
}

  #contact p {
    font-size: 24px;
  }

  .contact_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: absolute;
    top: -45%;
    right: 10px;
    width: 40%;
    background: #fff;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11%;
    padding: 8%;
    width: 65vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 240px;
    background-color: #fff;
    top: 10px;
    /* border-top: 10px; */
  }

}

/* Small devices (landscape phones, less than 430px) */
@media (max-width: 430px) {

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    width: 90vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    background-color: #fff;
    position: relative;
    left: 10px;
  }

  .centerme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    top: 0%;
    left: 0%;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2%;
  padding: 1%;
  background-color: #fff;
  width: 150px;
}


  header img {
    width: 50%;
  }

  .intro {
    margin-top: 5%;
    margin-bottom: 2%;
    width: 70vw;
    position: relative;
    left: 15px;
    margin-top: 100px;
    margin-bottom: 80px;
}

  .navlink img {
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: 10px;
    top: 35px;
  }

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 2% 0%;
    width: 91vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 400px;
    background-color: #fff;
    top: 289px;
    margin-bottom: 45%;
    /* margin-top: 85%; */
    font-size: 16px;
    right: 40px;
  }

  .about_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: absolute;
    top: -22%;
    right: 10px;
    width: 50%;
    background: #fff;
    margin-top: -.5, ;
  }

  .workgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 95vw;
    margin: 3%;
    position: relative;
    bottom: 639px;
    margin-bottom: -35%;
  }

  .portfolioanchor img {
    width: 100%;
  }

  #portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 2% 0%;
    width: 95vw;
    position: relative;
    top: 500px;
    right: 50px;
    margin-top: 140px;
    margin-bottom: 220px;
}


#smallportfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  margin-top: 50%;
}

#portfolio_one,
#portfolio_two,
#portfolio_three,
#portfolio_four {
 display: none;
}

.smallportfolio_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100%;
}



  .portfolio_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 2% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    width: 70%;
    background: #fff;
    position: relative;
    top: -664px;
    margin-top: 75%;
  }

  .portfolioanchor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    width: 70%;
    position: relative;
    top: 30px;
  }

  .portfolio_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .portfolio_description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 380px;
    padding: 3%;
    border: 6px solid #000;
    height: 300px;
    background-color: #fff;
    font-size: 24px;
  }

  .portfolio_image {
    border: 6px solid #000;
    width: 380px;
    margin-bottom: 5%;
}

.portfolio_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 300px;
}

.portfolio_header_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  left: 50px;
  height: 100px;
  width: 300px;
}

.portfolio_header_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  border: 6px solid #000;
  width: 95%;
  background-color: #fff;
  position: relative;
  top: 50px;
  right: 50px;
}


  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 8%;
    width: 65vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 370px;
    background-color: #fff;
    top: 610px;
    /* border-top: 10px; */
  }

  .contact_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    padding: 1% 0%;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: absolute;
    top: -45%;
    right: 10px;
    width: 70%;
    background: #fff;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding: 8%;
    width: 65vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 185px;
    background-color: #fff;
    top: 100px;
    /* border-top: 10px; */
    margin-bottom: 50%;
}

h1 {
  font-family: "Play", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-family: "Play", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}



}

/* X-Small devices (portrait phones, less than 375px) */
@media (max-width: 375px) {

  .portfolio_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border: 6px solid #000;
    width: 95%;
    background-color: #fff;
    position: relative;
    top: 50px;
    left: 10px;
    height: 100px;
    width: 300px;
}

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 2% 0%;
    width: 91vw;
    border: 6px solid #000;
    box-shadow: -10px 20px;
    position: relative;
    height: 350px;
    background-color: #fff;
    top: 179px;
    margin-bottom: 45%;
    /* margin-top: 85%; */
    font-size: 16px;
    right: 38px;
}

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15%;
  padding: 2% 0%;
  width: 95vw;
  position: relative;
  top: 490px;
  right: 40px;
}

#smallportfolio{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#portfolio_one,
#portfio_two,
#portfolio_three,
#portfolio_four {
 display: none;
}

.smallportfolio_item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100%;
}

.portfolio_image {
  border: 6px solid #000;
  width: 340px;
  margin-bottom: 5%;
}

.portfolio_description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 330px;
  padding: 3%;
  border: 6px solid #000;
  height: 300px;
  background-color: #fff;
  font-size: 24px;
}

.contact_intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 1% 0%;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: absolute;
  top: -55%;
  right: 10px;
  width: 50%;
  background: #fff;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20% 0% 20% 10%;
  padding: 4%;
  width: 73vw;
  border: 6px solid #000;
  box-shadow: -10px 20px;
  position: relative;
  height: 185px;
  background-color: #fff;
  top: 40px;
  /* border-top: 10px; */
}

#contact p {
  font-size: 20px;
} 

}